**/settings.py
*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
media/
staticfiles/
.env
.venv/
venv/
ENV/
env/
env.bak/
*.egg-info/
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace
.DS_Store
Thumbs.db
.coverage
nosetests.xml
coverage.xml
*.cover
.hypothesis/
**/migrations/*.py

